@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Calistoga&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Digital7Italic-BW658";
  src: url("./assets/font/Digital7Italic-BW658.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-albert: "Albert Sans", sans-serif;
  --font-calistoga: "Calistoga", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --font-lcd: "Digital7Italic-BW658", sans-serif;
  --color-orangeLight: #ffcb8a;
}

.grain-overlay {
  background-image: url("./assets/images/noise-texture.webp");
  background-size: cover;
  width: 200%;
  height: 200%;
  opacity: 0.1;
  animation: animateGrain 20s steps(10) infinite;
}

.led-glow-text {
  text-shadow: 0 0 8px rgb(113, 220, 151, 0.6);
}

.led-glow-green {
  filter: drop-shadow(0 0 8px rgb(113, 220, 151, 0.6));
}

.led-glow-red {
  filter: drop-shadow(0 0 8px rgb(255, 73, 73, 0.4));
}

.drop-shadow-medium {
  filter: drop-shadow(-5px 3px 2px rgba(0, 0, 0, 0.3));
}

.drop-shadow-large {
  filter: drop-shadow(-6px 4px 4px rgba(0, 0, 0, 0.4));
}

.drop-shadow-screenshot {
  filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));
}

.power-off-glow-mobile {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 30px;
  height: 30px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: translate(-50%, -50%);
  animation: powerOffGlowFadeMobile 0.5s forwards;
}

@keyframes powerOffGlowFadeMobile {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(5);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}

.power-off-glow {
  position: absolute;
  top: 35%;
  left: 43%;
  width: 30px;
  height: 30px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: translate(-50%, -50%);
  animation: powerOffGlowFade 0.5s forwards;
}

@keyframes powerOffGlowFade {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(10);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(5);
  }
}

.flicker-overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 100;
  animation: flickerAnimation 350ms linear;
}

@keyframes flickerAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }
  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
}
